.animateBelowLine line {
  @apply fill-transparent stroke-primary stroke-[5];
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.animateBelowLine.animate line {
  animation: animateBelowLine 0.5s linear forwards;
}

@keyframes animateBelowLine {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animateBelowLine #BelowLine_Circle-2 {
  opacity: 0;
}

.animateBelowLine.animate #BelowLine_Circle-2 {
  @apply animate-opacity;
  animation-delay: 500ms;
}
