@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-dashed outline-2 outline-primary/20;
  }

  html,
  body {
    @apply scroll-smooth bg-base-100 text-base-content;
  }
}

::-webkit-scrollbar {
  background-color: #2d2d35;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #16b170;
}

.hoverBox:hover {
  @apply text-base-100;
}

.hoverBox:hover + .popBox {
  @apply h-full w-full;
}

