/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
/* FONT PATHS
 * -------------------------- */
@font-face {
    font-family: "Hack";
    src: url("../assets/fonts/Hack/hack-regular.woff2") format("woff2"),
        url("../assets/fonts/Hack/hack-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("../assets/fonts/Hack/hack-bold.woff2") format("woff2"),
        url("../assets/fonts/Hack/hack-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Hack";
    src: url("../assets/fonts/Hack/hack-italic.woff2") format("woff2"),
        url("../assets/fonts/Hack/hack-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Hack";
    src: url("../assets/fonts/Hack/hack-bolditalic.woff2") format("woff2"),
        url("../assets/fonts/Hack/hack-bolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
