@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: #2d2d35;
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: #16b170;
}

* {
    outline: #16b17030 solid 1px;
}

.hoverBox:hover {
    @apply text-dark;
}
.hoverBox:hover + .popBox {
    @apply w-full h-full;
}
.animteSize {
    animation: animateWidth linear 1s infinite alternate-reverse;
}
@keyframes animateWidth {
    0% {
        width: 100%;
    }
    100% {
        width: 90%;
    }
}

@keyframes animateOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
