.projectImg:hover .projectImgRing {
  animation: animateRing 2s infinite;
}
.projectImg:hover .projectImgRing_1 {
  animation-delay: 500ms;
}
.projectImg:hover .projectImgRing_2 {
  animation-delay: 1000ms;
}
.projectImg:hover .projectImgRing_3 {
  animation-delay: 1500ms;
}
@keyframes animateRing {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 140%;
    opacity: 0;
    border-width: 0;
  }
}

.projectCurve path {
  @apply fill-transparent stroke-primary stroke-[5];
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
}

.projectCurve.animate path {
  animation: projectCurve 2s linear forwards;
}

@keyframes projectCurve {
  0% {
    stroke-dashoffset: 1700;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.projectCurve text,
.projectCurve #ProjectCurveCirlce_2 {
  opacity: 0;
}
.projectCurve.animate text,
.projectCurve.animate #ProjectCurveCirlce_2 {
  @apply animate-opacity;
}

.projectCurve.animate text {
  animation-delay: 1.4s;
}
.projectCurve.animate #ProjectCurveCirlce_2 {
  animation-delay: 2s;
}
