.downloadCVWrapper {
  @apply relative mx-auto mt-36 aspect-square h-56 rounded-full border-2 border-white text-primary md:mt-16 lg:mt-28 lg:h-72 xl:mt-16;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.downloadCVWrapper .arc {
  @apply absolute rounded-full border-transparent  before:absolute before:h-3 before:w-3 before:rounded-full before:bg-base-content  after:absolute after:h-3 after:w-3 after:rounded-full after:bg-base-content;
}
.downloadCVWrapper .arc_1 {
  @apply -left-[5%] -top-[5%] h-[110%] w-[110%] border-2 border-r-base-content before:top-7 before:right-7 after:bottom-7 after:right-7 lg:before:top-10 lg:before:right-10 lg:after:bottom-10 lg:after:right-10;
  animation: spin 2s linear infinite;
}
.downloadCVWrapper .arc_2 {
  @apply -left-[10%] -top-[10%] h-[120%] w-[120%] border-2 border-l-base-content before:top-9 before:left-7 after:bottom-9 after:left-7 lg:before:top-10 lg:before:left-11 lg:after:bottom-10 lg:after:left-11;
  animation: spin 1.8s linear infinite;
}
.downloadCVWrapper .arc_3 {
  @apply -left-[15%] -top-[15%] h-[130%] w-[130%] border-2 border-t-base-content border-l-base-content before:left-8 before:bottom-9 after:right-8 after:top-9 lg:before:left-12 lg:before:bottom-11 lg:after:right-12 lg:after:top-11;
  animation: spin 1.6s linear infinite;
}
.curveLine {
  @apply absolute top-[13rem] -left-[6rem] hidden w-[30rem] md:block  lg:top-[16rem] lg:-left-[2rem] lg:w-[34rem] xl:top-[18rem] xl:-left-[1rem] xl:w-[44rem] 2xl:top-[19rem] 2xl:w-[50rem];
}

.curveLine path {
  @apply stroke-primary stroke-[5];
  stroke-dasharray: 1400;
  stroke-dashoffset: -1400;
}
.curveLine path {
  animation: animateCurveLine 1.5s linear forwards;
}
@keyframes animateCurveLine {
  0% {
    stroke-dashoffset: 1400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.curveLine .textInSvg {
  opacity: 0;
  animation: translatetext 0.3s ease-out forwards 0.7s;
  transform: translate(300px, 552px);
}
@keyframes translatetext {
  0% {
    opacity: 0;
    transform: translate(300px, 552px);
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 100;
    transform: translate(410px, 552px);
  }
}
.curveLine #curveSvgPath_Cirlce2 {
  opacity: 0;
}
.curveLine #curveSvgPath_Cirlce2 {
  @apply animate-opacity;
  animation-delay: 1.5ms;
}
